<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="footer">

    <footer class="footer">
        <div class="container">
            <div class="footer-container">
                <div class="footer-brand">
                    <a href="#" class="footer-logo">Anurag Pise</a>
                    <p class="footer-text">
                        Passionate about solving complex problems through code
                    </p>
                    <div class="footer-social">
                        <a href="tel: +917219427190" class="social-link">
                            <i class="fas fa-phone-alt"></i>
                        </a>
                        <a href="mailto:anuragpisee@gmail.com" class="social-link">
                            <i class="fas fa-envelope"></i>
                        </a>

                        <a href="https://www.linkedin.com/in/anurag-pise-a3b44b32a" target="_blank" class="social-link">
                            <i class="fab fa-linkedin-in"></i>
                        </a>

                        <a href="https://github.com/Anuragpise27" target="_blank" class="social-link">
                            <i class="fab fa-github"></i>

                        </a>
                    </div>
                </div>
                <div class="footer-links-container">
                    <h3 class="footer-heading">Quick Links</h3>
                    <div class="footer-links">
                        <a href="#home" class="footer-link">
                            <i class="fas fa-chevron-right"></i>Home
                        </a>
                        <a href="#about" class="footer-link">
                            <i class="fas fa-chevron-right"></i>About
                        </a>
                        <a href="#projects" class="footer-link">
                            <i class="fas fa-chevron-right"></i>Projects
                        </a>
                        <a href="#achievements" class="footer-link">
                            <i class="fas fa-chevron-right"></i>Achievements
                        </a>
                        <a href="#contact" class="footer-link">
                            <i class="fas fa-chevron-right"></i>Contact
                        </a>
                    </div>
                </div>

            </div>
            <div class="footer-bottom"><p>&copy; 2026 Anurag Pise. All rights reserved.</p></div>
        </div>
    </footer>



</th:block>
</html>