<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="hero">
<section class="hero" id="home">

    <div class="hero-background"></div>
    <div class="container hero-container">
        <div class="hero-content">
            <div class="hero-greeting">Hi there,I am </div>
            <h1 class="hero-title"><span class="gradient-text">Anurag Pise</span></h1>
            <h2 class="hero-subtitle">Developer</h2>
            <p class="hero-description">
                I am a passionate Java Developer with a strong foundation in Core Java, OOP, and SQL. Skilled in Java, JDBC, Spring Boot (basic), and Git, with good problem-solving abilities. Seeking an entry-level role to build scalable applications and grow in a professional environment.
            </p>
            <div class="hero-buttons">
                <a href="#" class="btn btn-primary">
                    view my work <i class="fas fa-arrow-right"></i>
                </a>
                <a href="#" class="btn btn-outline">
                    Get in Touch
                </a>
            </div>
            <div class="social-links">
                <a href="tel: +917219427190" class="social-links">
                    <i class="fas fa-phone-alt"></i>
                </a>
                <a href="mailto:anuragpisee@gmail.com" class="social-links">
                    <i class="fas fa-envelope"></i>
                </a>

                <a href="https://www.linkedin.com/in/anurag-pise-a3b44b32a" target="_blank" class="social-links">
                    <i class="fab fa-linkedin-in"></i>
                </a>

                <a href="https://github.com/Anuragpise27" target="_blank" class="social-links">
                    <i class="fab fa-github"></i>

                </a>
            </div>
        </div>

        <div class="hero-visual">
            <div class="hero-visual-inner">
                <div class="hero-visual-frame">
                    <img src="/images/anurag.jpg" alt="profile" style="width:95%; height: 95%; object-fit: cover; border-radius:250px;">
                </div>
                <div class="hero-visual-frame"></div>
                <div class="hero-visual-frame"></div>
            </div>
            <div class="hero-stats stats-1">
                <div class="hero-stats-icon">
                    <i class="fas fa-code"></i>
                </div>
                <div class="hero-stats-text">
                    <div class="hero-stats-label">Developer</div>
                    <div class=" hero-stats-value">Fresher</div>
                </div>
            </div>


        </div>
    </div>

    <div class="scroll-indicator">
        <span>Scroll Down</span>
        <div class="scroll-indicator-line">
            <div class="scroll-indicator-dot"></div>
        </div>
    </div>
</section>

</th:block>























































































































