<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="projects">

<section class="section projects" id="projects" >

    <div class="container">
        <div class="section-title-container">
            <h2 class="section-title">My Work</h2>
            <p class="section-subtitle">
                Explore my some works.
            </p>
        </div>
        <div class="projects-container">
            <div class="project-card">
                <div class="project-image">
                    <img src="/images/studytrak.png" alt="project">
                    <div class="project-overlay"></div>
                    <div class="project-tags">
                        <span class="project-tag">JAVA</span>
                        <span class="project-tag">ArrayList</span>
                        <span class="project-tag">TreeMap</span>
                        <span class="project-tag">OOP</span>

                    </div>
                </div>

                <div class="project-content">
                    <h3 class="project-title">Study Tracker App</h3>
                    <p class="project-description">
                        The Study Tracker App is a Java-based console application that helps users track study sessions and monitor progress. It uses OOP and Collections for data management and supports exporting logs to CSV, demonstrating strong Java fundamentals and practical problem-solving skills.

                    </p>
                    <div class="project-links">
                        <a href="https://github.com/anuragpise27/projects/blob/main/Study_Tracker/pg558.java" class="project-link" target="_blank">
                            <i class="fab fa-github"></i> view code
                        </a>
                    </div>
                </div>
            </div>

            <div class="project-card">
                <div class="project-image">
                    <img src="/images/DS.png" alt="project">
                    <div class="project-overlay"></div>
                    <div class="project-tags">
                        <span class="project-tag">C++</span>

                    </div>
                </div>

                <div class="project-content">
                    <h3 class="project-title">Generalised DS Library</h3>
                    <p class="project-description">
                        The Generalized Data Structures Library is a C++ project where I created reusable data structures like stacks, queues, and trees. I used templates so they can work with different types of data, showing my understanding of core data structures and coding concepts.

                    </p>
                    <div class="project-links">
                        <a href="https://github.com/anuragpise27/projects/blob/main/CustomizeDbms/pg845.java" class="project-link" target="_blank">
                            <i class="fab fa-github"></i> view code
                        </a>
                    </div>
                </div>
            </div>

            <div class="project-card">
                <div class="project-image">
                    <img src="/images/chatmsg.png" alt="project">
                    <div class="project-overlay"></div>
                    <div class="project-tags">
                        <span class="project-tag">JAVA</span>
                        <span class="project-tag">Socket programming</span>
                        <span class="project-tag">Client and Server</span>

                    </div>
                </div>

                <div class="project-content">
                    <h3 class="project-title">Chat Messenger</h3>
                    <p class="project-description">
                        The Chat Messenger App is a Java-based application that allows real-time communication between users using client-server socket programming. It supports sending and receiving messages instantly, helping me understand how networking and communication systems work in real applications
                    </p>
                    <div class="project-links">
                        <a href="" class="project-link" target="_blank">
                            <i class="fab fa-github"></i> view code
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>


</section>


</th:block>